.footer {
  border-top: 1px solid #eaeaea;
  min-height: 200px;

  @apply flex flex-col items-center gap-y-4 pt-10 bg-dicoogle-gray-200;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  &__logos {
    @apply flex flex-col md:flex-row justify-center items-center gap-14;
  }

  &__funding {
    @apply text-white font-medium text-xs flex justify-center text-center pb-8;
  }
}

.logo {
  margin-left: 0.5rem;
}
