@import './colors.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  color: $gray-2;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.075em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h4 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  font-size: 36px;
  margin-bottom: 30px;

  ::after {
    content: ' ';
    width: 3rem;
    height: 1px;
    display: block;
    background-color: $gray-2;
  }
}

p {
  line-height: 1.75rem;
  margin: 0 0 5px;
}

.circletag {
  background: $blue-2;
  @apply flex items-center justify-center rounded-full;
}

.image-center {
  display: inline;
  margin-top: 30px;
}

.section {
  @apply mb-24;
}

.container {
  @apply mx-auto md:max-w-6xl max-w-sm;
}

.form {
  &__field {
    border: 1px solid #e8e8e8;
    padding: 8px 14px;

    @apply rounded-md focus:drop-shadow-sm;
  }
  // @apply w-fit focus-visible:outline-none max-w-xs md:max-w-none;

  input[type='checkbox'] {
    padding: 0;
    @apply w-fit;
  }

  textarea {
    border: 1px solid #e8e8e8;
    padding: 8px 14px;
    width: 100%;
    @apply rounded-md focus:drop-shadow-sm;
  }
}
