@mixin btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

@mixin button1 {
  @include btn;
  @apply md:w-fit bg-dicoogle-300 border-dicoogle-400 text-white;

  &:focus,
  &:hover {
    @apply text-white bg-dicoogle-400 border-dicoogle-500;
  }
}

@mixin button2 {
  @include btn;

  @apply my-2 py-3 px-10 border-0 rounded uppercase font-medium w-full  mx-10 md:mx-0 md:w-fit;
  @apply hover:drop-shadow-xl transition-all duration-300;
  @apply text-white bg-dicoogle-gray-200;

  &:hover {
    background: black;
    color: white;
  }
}
