@use './colors.scss' as colors;

@mixin btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

@mixin button1 {
  @include btn;
  @apply md:w-fit;

  color: colors.$white;
  background-color: colors.$blue-2;
  border-color: colors.$blue-3;

  &:focus,
  &:hover {
    color: colors.$white;
    background-color: colors.$blue-4;
    border-color: colors.$blue-5;
  }
}

@mixin button2 {
  @include btn;

  @apply my-2 py-3 px-10 border-0 rounded uppercase font-medium w-full  mx-10 md:mx-0 md:w-fit;
  @apply hover:drop-shadow-xl transition-all duration-300;

  background: colors.$gray-2;
  color: colors.$white;

  &:hover {
    background: black;
    color: white;
  }
}
